@media (min-width: 1024px) {
    .product {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
  
    .guitar-item {
      padding: 1rem;
      text-align: center;
      text-decoration: none; 
      color: inherit; 
    }
  
    .guitar-image {
      width: 100px; /* Adjust the size of the guitar image */
      height: auto;
    }


  }

.main{
    background-color: #121212;
    
  }

a {
    text-decoration: none; 
    color: inherit; 
  }

