@import "./base.css";


  .main {
    background-color: #121212;
    color: white;
    padding: 40px 0;
    text-align: center;
  }

  .section-title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }

  .footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .footer-logo img {
    max-height: 50px;
  }

  .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-nav li {
    margin: 0 20px;
  }

  .footer-nav a {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    text-decoration: none;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #logocart{
    max-width: 40px;
  }


  h1{
    font-size: 450px;
  }
